title: Dogwood
copyright: OpenStreetMap US
permalink: /:title/
# Include "future" posts so that upcoming events will display. Posts cannot be scheduled to automatically
# publish at a certain time with Jekyll alone.
logo: /img/logo.svg
logo_mono: /img/logo-mono.svg
future: true
timezone: America/New_York
github: osmus/dogwood
mastodon: https://en.osm.town/@OpenStreetMapUS
twitter: openstreetmapus
youtube_page: channel/UCQpS2iHNVR-_6nAxt87nwCw
facebook: openstreetmap.us
instagram: openstreetmapus
linkedin: company/openstreetmap-us
links:
  - link: /plants/
  - link: /people/
  - link: /blog/
  - link: https://github.com/osmus/dogwood
    label: Use This Theme!
    a_class: button bordered
plugins:
  - jekyll-archives
  - jekyll-include-cache
jekyll-archives:
  enabled:
    - tags
    - month
    - year
  layouts:
    tag: archives/posts-tag
    year: archives/posts-year
    month: archives/month
  permalinks:
    tag: '/tags/:name/'
    month: '/:year/:month/'
    year: '/:year/'
date_format: "%b %e, %Y"
collections:
  pages:
    output: true
  people:
    output: true
  posts:
    output: true
  redirects:
    output: true
defaults:
  - scope:
      path: "_pages"
    values:
      permalink: /:path/
      layout: "page"
  - scope:
      path: "_people"
    values:
      layout: "person"
  - scope:
      path: "_posts/blog"
    values:
      permalink: /blog/:year/:month/:title/ # or whatever
      category: "Blog"
      layout: "post"
  - scope:
      path: "_redirects"
    values:
      permalink: /:path/
      layout: "redirect"