<div class="breadcrumbs">
  {%- assign path_parts = page.url | split: "/" -%}
  {%- if path_parts.size > 2 -%}
    {%- assign urlsString = "" -%}
    {%- assign composite_url = "" -%}
    {%- for part in path_parts -%}
      {%- assign composite_url = composite_url | append: part | append: "/" -%}
      {%- assign urlsString = urlsString | append: composite_url | append: ";" -%}
    {%- endfor -%}
    {%- assign urls = urlsString | split: ";" | reverse | slice: 1, 100 -%}
    {%- for url in urls -%}
      {%- assign part_page = site.documents | find: "url", url -%}
      {%- unless part_page -%}
        {%- continue -%}
      {%- endunless -%}
      {%- if part_page.layout == "redirect" and part_page.redirect == page.url -%}
        {%- continue -%}
      {%- endif -%}
      <a href="{{url | absolute_url}}">
        <svg class="iconsvg"><use xlink:href="#arrow-left"></use></svg>
        {% if part_page.title -%}
          {{ part_page.title }}
        {%- else -%}
          {% assign derived_label=part | replace: "-", " " | url_decode %}
          {% assign derived_label_as_num=derived_label | plus: 0 %}
          {% if derived_label.size==2 and derived_label_as_num<=12  %}
            {{ page.date | date: "%B" }}
          {%- else -%}
            {{ derived_label }}
          {%- endif -%}
        {%- endif -%}
      </a>
      {%- break -%}
    {%- endfor -%}
  {%- endif -%}
</div>