{%- if page.title or pate.temp_title -%}
<div class="pagenav">
  <div>
    <a class="selflink" href="{{page.url | absolute_url}}">
      {%- if page.wordmark -%}
        <img class="wordmark" alt="{{page.temp_title | default: page.title}}" src="{{page.wordmark | absolute_url}}"/>
      {%- else -%}
        <h1>{{page.temp_title | default: page.title}}</h1>
      {%- endif -%}
    </a>
    {%- if page.layout == "session" or page.layout == "post" or page.layout == "newsletter" -%}
      <p class="meta"><span class="date">
          {{- page.date | date: site.date_format -}}
          {%- if page.layout == "session" %}
            at {% include item_time.html item=page -%}
          {%- endif -%}
        </span>
        {%- if page.author %}
          &middot; {% include names_list.html names=page.author %}
        {%- endif -%}
        {%- if page.event %}
          &middot; <span class="event">{{page.event}}</span>
        {%- endif -%}
      </p>
    {%- endif -%}
  </div>
  <ul>
    {% if page.links %}
      {% for link in page.links %}
        <li><a href="{{link.link | absolute_url}}">
          {%- assign linked_page=site.pages | find: "url", link.link -%}
          {%- if linked_page.icon -%}
            <svg class="iconsvg pre-text"><use xlink:href="#{{ linked_page.icon }}"></use></svg>
          {%- endif -%}
          {%- if link.label -%}
            {{link.label}}
          {%- elsif linked_page.short_title -%}
            {{linked_page.short_title}}
          {%- else -%}
            {{linked_page.title}}
          {%- endif -%}
        </a></li>
      {% endfor %}
    {% endif %}
  </ul>
</div>
{%- endif -%}