<meta charset="UTF-8"/>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<meta property="og:type" content="article" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{site.twitter}}">
<script type="application/ld+json">
  {
    "@context" : "https://schema.org",
    "@type" : "WebSite",
    "name" : "{{site.title}}",
    {% if site.short_title %} "alternateName" : "{{site.short_title}}", {%- endif %}
    "url" : "{{site.url}}"
  }
</script>
<link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{site.url}}{{site.baseurl}}/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}{{site.baseurl}}/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{site.url}}{{site.baseurl}}/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}{{site.baseurl}}/img/favicon/favicon-16x16.png">
<link rel="manifest" href="{{site.url}}{{site.baseurl}}/manifest.json">
<link rel="shortcut icon" href="{{site.url}}{{site.baseurl}}/img/favicon/favicon.ico" type="image/x-icon" />
<meta name="msapplication-TileColor" content="#000">
<meta name="msapplication-TileImage" content="{{site.url}}{{site.baseurl}}/img/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#000">
<meta name="homepage" content="{{ site.url }}{{ site.baseurl }}">
{% assign sessions = site.posts | where_exp: "item", "item.url contains '/events/'" %}
{% assign future_sessions="" | split: ',' -%}
{% assign curDate = site.time | date: '%s' | minus: 86400 %}
{% for session in sessions %}
    {% assign page_date = session.date | date: '%s' | minus: 0 %}
    {% if page_date >= curDate %}
        {% assign future_sessions = future_sessions | push: session %}
    {% endif %}
{% endfor %}
{% assign next_session = future_sessions | reverse | first %}
{% if next_session %}
  {% assign starttime = next_session.date | date: '%s' %}
  {% assign endtime = starttime | plus: 3600 %}
  {% if next_session.event %}
    {% assign all_in_series = site.posts | where: 'event', next_session.event | sort: 'date' %}
    {% assign first_in_series = all_in_series | first %}
    {% assign last_in_series = all_in_series | last %}
    {% assign starttime = first_in_series.date | date: '%s' %}
    {% assign endtime = last_in_series.date | date: '%s' | plus: 3600 %}
    {% assign next_session = site.pages | find_exp: "item", "item.title==next_session.event or item.temp_title==next_session.event" %}
  {% endif %}
  <meta name="dogwood-next-event"
    content="{{ next_session.temp_title | default: next_session.title }}"
    tagline="{{next_session.tagline}}"
    noticeclass="{{ next_session.title | slugify }}"
    logo="{{ next_session.logo | absolute_url }}"
    start="{{starttime}}"
    end="{{endtime}}"
    href="{{ next_session.url | absolute_url }}">
{% endif %}

<link href="{{site.url}}{{site.baseurl}}/assets/style.css" rel="stylesheet" />
{% for feed in site.feeds %}
  <link rel="alternate" type="application/rss+xml" title="{{ feed.title }}" href="{{ feed.url | absolute_url }}" />
{% endfor %}