<meta charset="UTF-8"/>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<meta property="og:type" content="article" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{site.twitter}}">
<script type="application/ld+json">
  {
    "@context" : "https://schema.org",
    "@type" : "WebSite",
    "name" : "{{site.title}}",
    {% if site.short_title %} "alternateName" : "{{site.short_title}}", {%- endif %}
    "url" : "{{site.url}}"
  }
</script>
<link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}{{site.baseurl}}/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{site.url}}{{site.baseurl}}/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}{{site.baseurl}}/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{site.url}}{{site.baseurl}}/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}{{site.baseurl}}/img/favicon/favicon-16x16.png">
<link rel="manifest" href="{{site.url}}{{site.baseurl}}/manifest.json">
<link rel="shortcut icon" href="{{site.url}}{{site.baseurl}}/img/favicon/favicon.ico" type="image/x-icon" />
<meta name="msapplication-TileColor" content="#000">
<meta name="msapplication-TileImage" content="{{site.url}}{{site.baseurl}}/img/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#000">

<link href="{{site.url}}{{site.baseurl}}/assets/style.css" rel="stylesheet" />
{% for feed in site.feeds %}
  <link rel="alternate" type="application/rss+xml" title="{{ feed.title }}" href="{{ feed.url | absolute_url }}" />
{% endfor %}