@charset "UTF-8";
/* the below should look the same as the above when on a white bg */
/* $alpha-grid-color: rgba(0, 0, 0, 0.13); */
/*  Reset ♥
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* remember to define focus styles. Hee Haw */
:focus {
  outline: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Inline Elements & Typography
------------------------------------------------------- */
body {
  background-color: white;
}

body,
input,
textarea {
  color: #333;
  font-size: 18px;
  line-height: 1.6667;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: lining-nums;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  font-weight: 700;
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4, h5 {
  font-size: 18px;
}

/* Links */
a {
  color: #D99AB6;
  text-decoration: none;
}

a:visited {
  color: #D99AB6;
}

a:hover, a:active {
  color: #dda4bd;
}
a:hover:not(.button), a:active:not(.button) {
  text-decoration: underline;
}

.dark {
  background-color: #333;
  color: white;
}
.dark a {
  color: #FFB9D8;
}
.dark a:hover, .dark a:active {
  color: #ffc7e0;
}
.dark hr {
  background: rgba(255, 255, 255, 0.13);
}

abbr {
  border-bottom: 1px dotted #000;
  cursor: help;
}

address {
  font-style: italic;
}

small {
  font-size: 12px;
  line-height: 1.5;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

hr {
  margin: 0 0 20px;
  border: 0;
  height: 1px;
  background: rgba(128, 128, 128, 0.26);
}

/* Block Quotes */
blockquote, q {
  quotes: none;
  font-style: italic;
  padding-left: 20px;
  border-left: 10px solid #e8e8e8;
}
blockquote.pullquote > *:not(cite), q.pullquote > *:not(cite) {
  font-size: 22px;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

/* Code Blocks & Pre */
code,
pre {
  padding: 5px 4px;
  font-family: Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
  font-size: 12px;
  border-radius: 3px;
}

code {
  padding: 5px;
  background: rgba(128, 128, 128, 0.07);
  border: 1px solid #dedede;
}

pre {
  display: block;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.pre-scrollable {
  max-height: 300px;
  overflow-y: scroll;
}

/* sub/superscripts */
sup,
sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
  font-size: 75%;
}

sup {
  bottom: 1em;
}

label {
  display: block;
  font-weight: 600;
  font-size: 0.9em;
  cursor: pointer;
}

select,
textarea,
input[type=text],
input[type=email] {
  display: inline-block;
  width: 500px;
  max-width: 100%;
  vertical-align: middle;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #dedede;
}

textarea:focus,
input[type=text]:focus,
input[type=email]:focus {
  border-color: #70a177;
}

textarea {
  height: 200px;
  max-width: none;
}

table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

th, td {
  padding: 4px 4px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #dedede;
}

tr:first-child > th, tr:first-child > td {
  border-top: 1px solid #dedede;
}

th {
  font-weight: bold;
}

thead th {
  vertical-align: bottom;
  color: #57594D;
}

.iconsvg {
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
  width: 0.8em;
  height: 0.8em;
}

.iconsvg.pre-text {
  margin-right: 0.2em;
}

/* Layout
------------------------------------------------------- */
.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 18px;
  padding-left: 18px;
}
.container .inner-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
@media only screen and (max-width: 1100px) {
  .container.stretch {
    padding: 0;
  }
  .container.stretch .cover-image {
    border-left: 0;
    border-right: 0;
  }
}

.layout-post:not(.has-image) article.content {
  padding-top: 0;
}

@media only screen and (max-width: 1100px) {
  .layout-post.has-image article.content {
    padding-top: 0;
  }
  .layout-post.has-image article.content .cover-image {
    border-top: 0;
  }
}

form {
  padding: 24px;
  border: 1px solid #cfead3;
  background: #f3fff5;
  border-radius: 0 0 8px 8px;
  border-top-width: 4px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
form > *:not(label):not(input[type=submit]) {
  margin-bottom: 12px;
}
form input[type=submit] {
  padding: 10px 30px;
  margin-top: 12px;
}

.bordered {
  border: 1px solid #dedede;
}

/* Buttons
------------------------------------------------------- */
button, a.button, input[type=submit] {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 0;
  padding: 2px 8px;
  border-radius: 6px;
}
button:hover, a.button:hover, input[type=submit]:hover {
  filter: brightness(1.1);
}
button.bordered, a.button.bordered, input[type=submit].bordered {
  border: 1px solid #D99AB6;
  font-size: 0.95em;
}
button.bordered:hover, a.button.bordered:hover, input[type=submit].bordered:hover {
  background: rgba(0, 0, 0, 0.05);
}
button.large, a.button.large, input[type=submit].large {
  padding: 10px 20px;
}
button.wide, a.button.wide, input[type=submit].wide {
  padding: 4px 24px;
}
button.white, a.button.white, input[type=submit].white {
  border-color: white;
  color: white;
}
button.white:hover, a.button.white:hover, input[type=submit].white:hover {
  background: rgba(255, 255, 255, 0.1);
}
button.prominent, a.button.prominent, input[type=submit].prominent {
  background-color: #D99AB6;
  color: white;
}
button.prominent:hover, a.button.prominent:hover, input[type=submit].prominent:hover {
  border-color: #FFB9D8;
  background: #FFB9D8;
}
button.external:after, a.button.external:after, input[type=submit].external:after {
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20fill%3D%22%23fff%22%3E%3C!--!%20Font%20Awesome%20Free%206.4.2%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%20(Commercial%20License)%20Copyright%202023%20Fonticons%2C%20Inc.%20--%3E%3Cpath%20d%3D%22M320%200c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032h82.7L201.4%20265.4c-12.5%2012.5-12.5%2032.8%200%2045.3s32.8%2012.5%2045.3%200L448%20109.3V192c0%2017.7%2014.3%2032%2032%2032s32-14.3%2032-32V32c0-17.7-14.3-32-32-32H320zM80%2032C35.8%2032%200%2067.8%200%20112V432c0%2044.2%2035.8%2080%2080%2080H400c44.2%200%2080-35.8%2080-80V320c0-17.7-14.3-32-32-32s-32%2014.3-32%2032V432c0%208.8-7.2%2016-16%2016H80c-8.8%200-16-7.2-16-16V112c0-8.8%207.2-16%2016-16H192c17.7%200%2032-14.3%2032-32s-14.3-32-32-32H80z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
  margin-left: 0.3em;
}

.site-wordmark {
  display: flex;
  align-items: center;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 21px;
  white-space: nowrap;
}
.site-wordmark .logo {
  height: 30px;
  margin-right: 6px;
  position: relative;
  top: 2px;
}
.site-wordmark .text {
  color: inherit;
}

/* Header
------------------------------------------------------- */
.topbar {
  position: fixed;
  top: 0;
  border-top: 5px solid #D99AB6;
  z-index: 10000;
  background: white;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dedede;
}
.topbar .site-wordmark {
  color: inherit;
}
.topbar .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
@media only screen and (max-width: 720px) {
  .topbar {
    position: relative;
    height: 97.2px;
  }
  .topbar .container {
    flex-direction: column;
    align-items: center;
    padding-top: 7.99992px;
  }
}

.layout-body {
  background: white;
  position: relative;
  margin-top: 54px;
  min-height: calc(100vh - 54px - 490px);
}
@media only screen and (max-width: 720px) {
  .layout-body {
    margin-top: 0;
  }
}

ul.headernav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}
ul.headernav > li {
  flex: 0 1 100%;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  /* don't show hover menu on touch taps */
}
ul.headernav > li:last-child {
  margin-left: 12px;
}
ul.headernav > li a {
  display: flex;
  align-items: center;
}
ul.headernav > li > a:not(.bordered) {
  padding: 0 min(24px, 1.5vw);
  color: #333;
  height: 100%;
}
ul.headernav > li ul.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: calc(min(24px, 1.5vw) - 12px);
  background: white;
  border: 1px solid #dedede;
  border-radius: 5px;
  border-top-left-radius: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
ul.headernav > li ul.submenu::before {
  content: " ";
  background: white;
  position: absolute;
  left: 0;
  top: -1px;
  height: 1px;
  width: 80px;
}
ul.headernav > li ul.submenu a {
  height: 100%;
  width: 100%;
  padding: 6px 12px 12px 12px;
  color: inherit;
  font-weight: 400;
  line-height: 1em;
}
@media (hover: hover) {
  ul.headernav > li:hover ul.submenu {
    display: block;
  }
}

body:not(.layout-post):not(.layout-session) .pagenav a {
  color: inherit;
}

.breadcrumbs, .pagenav {
  width: 100%;
  z-index: 1000;
}

.breadcrumbs, .pagenav ul {
  font-size: 16px;
  font-weight: 600;
}

.breadcrumbs {
  margin-bottom: 24px;
}
.breadcrumbs:empty {
  display: none;
}
.breadcrumbs .iconsvg {
  margin-top: -2px;
}
.breadcrumbs a {
  color: inherit;
}

.pagenav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.26);
  margin-bottom: 24px;
}
.pagenav .meta {
  margin-bottom: 12px;
}
.pagenav > *:last-child {
  margin-bottom: 12px;
}
.pagenav li {
  display: inline;
  white-space: nowrap;
}
.pagenav li:not(:last-child) {
  margin-right: 2vw;
}
@media only screen and (max-width: 720px) {
  .pagenav {
    flex-direction: column;
  }
}

.layout-page.has-image .pagenav {
  border-bottom: none;
  margin-bottom: 0;
}

#hero-map {
  width: 100%;
  height: 50vw;
  max-height: 70vh;
  min-height: 30vh;
  border-bottom: 1px solid #dedede;
}
#hero-map .custom-marker {
  background-color: var(--color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#hero-map .custom-marker::after {
  position: absolute;
  content: "";
  background-image: var(--icon-image);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  filter: invert(1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#hero-map .custom-marker::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  bottom: -100%;
  border: 10px solid transparent;
  border-top: 17px solid var(--color);
}

figcaption {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: min(560px, 100%);
  padding: 4px 6px;
  font-style: italic;
  line-height: 1.3;
  font-size: 0.9em;
  color: white;
}
figcaption a, figcaption a:visited {
  color: #00e723;
}
figcaption a:hover, figcaption a:focus, figcaption a:active {
  color: #00ff27;
}
figcaption.left {
  right: initial;
  left: 0;
}

.cover {
  color: white;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}
.cover .pagenav {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.cover.video {
  background: black;
  line-height: 0;
}
.cover .cover-image-container {
  position: relative;
}
.cover .cover-image {
  border: 1px solid #dedede;
}
.cover .cover-image, .cover .cover-video {
  width: 100%;
  max-height: min(70vh, 50vw);
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.cover figcaption {
  right: 1px;
  bottom: 1px;
  max-width: min(560px, 100% - 2px);
}

.layout-project .cover, .layout-person .cover {
  background: linear-gradient(-135deg, #002042, #022D48);
}

iframe.embedded-page-viewer {
  width: 100%;
  height: calc(80vh - 54px);
  border: 1px solid #dedede;
  border-radius: 4px;
  overflow: hidden;
}

/* Project page
--------------------------------------------
*/
.layout-project .cover .logo-area {
  display: flex;
}
.layout-project .cover .logo-area > * {
  width: 100%;
}
.layout-project .cover .logo-area .logo-wrap {
  flex: 0 0 auto;
  width: 212.8px;
  max-height: 266px;
  margin-right: 36px;
  text-align: center;
}
.layout-project .cover .logo-area .logo-wrap img {
  max-width: 100%;
  max-height: 100%;
}
@media only screen and (max-width: 720px) {
  .layout-project .cover .logo-area {
    flex-direction: column;
  }
  .layout-project .cover .logo-area .logo-wrap {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .layout-project .cover .logo-area img.wordmark {
    margin-top: 0;
  }
}
.layout-project .cover a {
  display: inline-block;
  color: inherit;
}
.layout-project .cover > .container {
  margin-top: 24px;
  margin-bottom: 24px;
}
.layout-project .cover.with-hero-image {
  padding-bottom: 150px;
}
.layout-project .cover .blurb a {
  text-decoration: underline;
}
.layout-project img.wordmark {
  max-width: 100%;
  max-height: 86px;
}
.layout-project .blurb, .layout-project .tagline {
  max-width: 700px;
}
.layout-project .cover .container .logo-area .right > *:not(:last-child) {
  margin-bottom: 12px;
}
.layout-project .tagline {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.layout-project img.hero-image {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.26);
  margin-top: -150px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: -24px;
}
.buttons a {
  margin-bottom: 24px;
}
.buttons .button {
  flex: 0 0 auto;
}
.buttons .text-buttons > .button:not(:last-child) {
  margin-right: 18px;
}
@media only screen and (max-width: 720px) {
  .buttons {
    flex-direction: column;
    align-items: baseline;
  }
}

.banner-footer {
  width: 100%;
  padding-top: 24px;
  position: relative;
  color: #fff;
}

table.schedule {
  table-layout: auto;
}
table.schedule th, table.schedule td {
  padding: 10px 14px;
  border-right: 1px solid #dedede;
}
table.schedule th:first-child, table.schedule td:first-child {
  border-left: 1px solid #dedede;
}
table.schedule td:first-child {
  width: 100px;
}
table.schedule td .title {
  font-weight: 600;
}
table.schedule tr {
  transition: 200ms ease-in-out;
}
table.schedule tr.interstitial {
  background: hsl(0, 0%, 97%);
}
table.schedule tr.interstitial .title {
  font-weight: normal;
  font-style: italic;
}
table.schedule tr.ongoing {
  border-top: 2px solid #930041;
  background: #E5F7FC;
}
table.schedule tr.ongoing td:first-child {
  padding-top: 18px;
  font-weight: 600;
  position: relative;
}
table.schedule tr.ongoing td:first-child:before {
  content: "Happening Now";
  display: block;
  position: absolute;
  top: -14px;
  border-radius: 13px;
  background-color: #930041;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 124px;
  height: 26px;
  text-align: center;
  left: -13px;
}
table.schedule tr.ongoing .title {
  font-weight: bold;
}

.icon-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.icon-buttons > li:not(:last-child) {
  margin-right: 6px;
}
.icon-buttons .iconsvg {
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.section {
  width: 100%;
  margin-bottom: 24px;
}
.section .section-header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.26);
  margin-bottom: 24px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.section .section-header h2, .section .section-header h3 {
  white-space: nowrap;
}
.section a.section-button {
  font-weight: 600;
}
.section > *:not(.prose) h1, .section > *:not(.prose) h2, .section > *:not(.prose) h3, .section > *:not(.prose) h4, .section > *:not(.prose) h5, .section > *:not(.prose) h6 {
  font-family: Georgia, serif !important;
}
.section:empty {
  display: none;
}

/* Person page
--------------------------------------------
*/
.layout-person h1 {
  margin: 0;
}
.layout-person .cover {
  min-height: 200px;
}
.layout-person.has-cover .cover {
  background: none;
}
.layout-person .hero-avatar {
  width: 100%;
  padding-bottom: calc(100% - 10px);
  position: relative;
  margin-top: -84px;
  border: 5px solid white;
}
.layout-person .sections {
  display: flex;
  flex-direction: column;
}
.layout-person .section {
  width: auto;
  display: flex;
  justify-content: right;
  margin: 0 auto;
}
.layout-person .section .section-body {
  padding: 18px;
  padding-left: 0;
  border-bottom: 1px solid #dedede;
}
.layout-person .section .section-body.prose {
  padding-bottom: 0;
}
.layout-person .section > h3 {
  padding-top: 18px;
}
.layout-person .section > *:first-child {
  width: 210px;
  text-align: right;
  padding-right: 18px;
}
.layout-person .section > *:last-child {
  width: 700px;
  max-width: 100%;
  flex: 0 0 auto;
  border-right: 1px solid #dedede;
}
.layout-person .section:last-child > *:last-child {
  border-bottom: 0;
}
.layout-person .section .name-section {
  padding-top: 0;
}
.layout-person .section .name-header {
  display: flex;
  align-items: baseline;
}
.layout-person .section .pronouns {
  margin-left: 8px;
  font-weight: 600;
  color: #777;
}
.layout-person .connect-links a:not(:last-child) {
  margin-right: 24px;
}
@media only screen and (max-width: 720px) {
  .layout-person .hero-avatar {
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    height: 210px;
    padding: 0;
  }
  .layout-person .cover figcaption {
    top: 1px;
    bottom: initial;
  }
  .layout-person .name-section {
    text-align: center;
  }
  .layout-person .name-header {
    justify-content: center;
  }
  .layout-person .sections {
    padding-left: 18px;
  }
  .layout-person .section {
    flex-direction: column;
    width: 100%;
  }
  .layout-person .section > *:first-child {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
  }
  .layout-person .section > h3 {
    border-right: 1px solid #dedede;
  }
  .layout-person .section > h3:empty {
    display: none;
  }
  .layout-person .section > *:last-child {
    margin: 0 auto;
  }
}

.item-list {
  position: relative;
}
.item-list .item-listing {
  display: flex;
  justify-content: left;
  max-width: 100%;
}
.item-list .item-listing:not(:last-child) {
  margin-bottom: 24px;
}
.item-list .item-listing .listing-front {
  max-width: 100%;
  width: 360px;
  position: relative;
  flex: 0 0 auto;
}
.item-list .item-listing .listing-front:empty {
  height: 0;
}
.item-list .item-listing .listing-front .thumbnail-image {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  border: 1px solid rgba(128, 128, 128, 0.26);
  transition: transform 100ms ease-in-out;
}
.item-list .item-listing .listing-front .thumbnail-image:hover {
  transform: scale(1.04);
  z-index: 9999;
}
.item-list .item-listing .listing-front .thumbnail-image:hover .iconsvg {
  opacity: 0.9;
}
.item-list .item-listing .listing-front .thumbnail-image .iconsvg {
  color: white;
  opacity: 0.75;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.item-list .item-listing .listing-front .rect-image {
  border-radius: 2px;
  height: 180px;
}
.item-list .item-listing .listing-body {
  padding-left: 24px;
  max-width: 700px;
}
.item-list .item-listing .listing-body:empty {
  display: none;
}
.item-list .item-listing .listing-body:first-child {
  padding-left: 0;
}
.item-list .item-listing .listing-body > * {
  margin-bottom: 6px;
}
.item-list .item-listing .listing-body .button {
  margin-top: 6px;
}
.item-list .item-listing .listing-body .subtitle {
  line-height: 1.2;
  font-style: italic;
}
.item-list .item-listing.contained-image .listing-front {
  width: 212.8px;
}
.item-list .item-listing.contained-image .thumbnail-image,
.item-list .item-listing .thumbnail-image.contained-image {
  height: 180px;
  background-size: contain;
  border: 0;
}
@media only screen and (max-width: 720px) {
  .item-list .item-listing {
    flex-wrap: wrap;
  }
  .item-list .item-listing .listing-front {
    width: 100%;
  }
  .item-list .item-listing .listing-body {
    padding-left: 0;
    padding-top: 12px;
  }
}
.item-list.gallery {
  display: flex;
  flex-wrap: wrap;
}
.item-list.gallery .item-listing {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 212.8px;
  flex: 0 0 auto;
}
.item-list.gallery .item-listing .listing-front {
  width: 100%;
}
.item-list.gallery .item-listing .thumbnail-image {
  width: 80%;
  padding-bottom: 80%;
  margin: 0 auto;
}
.item-list.gallery .item-listing .listing-body {
  padding: 0;
  margin-top: 12px;
}
@media only screen and (max-width: 461.6px) {
  .item-list.gallery:not(.scroll) {
    justify-content: center;
  }
}
.item-list.gallery:not(.pages-list):not(.people-list):not(.swag-list) .item-listing {
  width: 354.312px;
  align-items: baseline;
}
.item-list.gallery:not(.pages-list):not(.people-list):not(.swag-list) .item-listing .listing-front .thumbnail-image {
  width: 92%;
  padding: 0;
}
.item-list.gallery:not(.pages-list):not(.people-list):not(.swag-list) .item-listing .listing-body {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}
.item-list.gallery:not(.pages-list):not(.people-list):not(.swag-list) .item-listing h3 {
  text-align: left;
}
.item-list.gallery:not(.pages-list):not(.people-list):not(.swag-list).no-titles .item-listing {
  margin: 0;
}
.item-list.gallery:not(.pages-list):not(.people-list):not(.swag-list).no-titles .item-listing .listing-front .thumbnail-image {
  height: 196px;
  width: 100%;
  border-radius: 0;
  border-width: 0.5px;
}
.item-list.gallery:not(.pages-list):not(.people-list):not(.swag-list).scroll .item-listing {
  width: 287.28px;
}
.item-list.gallery:not(.pages-list):not(.people-list):not(.swag-list).scroll .item-listing .listing-front .thumbnail-image {
  height: 148px;
}
.item-list.gallery:not(.pages-list):not(.people-list):not(.swag-list).scroll .thumbnail-image, .item-list.gallery:not(.pages-list):not(.people-list):not(.swag-list).scroll .listing-body {
  margin-left: 0;
}
.item-list.people-list .listing-front {
  width: 212.8px;
  height: auto;
}
.item-list.people-list .listing-front .thumbnail-image {
  width: 80%;
  padding-bottom: 80%;
  margin: 0 auto;
}
.item-list.people-list .listing-body {
  padding-left: 12px;
}
.item-list.scroll {
  flex-wrap: nowrap;
  overflow-x: auto;
}
.item-list.swag-list h3 {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 1em;
}

.simple-item-listing {
  display: flex;
  justify-content: space-between;
  line-height: 1.25;
}
.simple-item-listing .date {
  white-space: nowrap;
}
.simple-item-listing:not(:last-child) {
  margin-bottom: 18px;
}

.title .iconsvg {
  width: 0.6em;
  height: 0.6em;
}

.content {
  padding-top: 24px;
  padding-bottom: 48px;
  width: 100%;
}

article {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article .post-header {
  padding-top: 24px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
article .post-body {
  margin-bottom: 48px;
}

.prose {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
  z-index: 0;
}
.prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  font-family: Helvetica, Arial, sans-serif;
}
.prose li {
  list-style: disc;
  margin-left: 20px;
}
.prose ol li {
  list-style: decimal;
}
.prose > .neatline, .prose blockquote .neatline {
  position: absolute;
  height: calc(100% + 24px);
  width: calc(100% + 18px);
  max-width: 748px;
  left: 0;
  right: 0;
  top: -24px;
  border-right: 1px solid #dedede;
  z-index: -1;
}
@media only screen and (max-width: 736px) {
  .prose > .neatline, .prose blockquote .neatline {
    display: none;
  }
}
.prose > iframe, .prose > table, .prose > form, .prose > a, .prose > em, .prose > b, .prose > strong, .prose > i, .prose > p, .prose > ol, .prose > ul,
.prose > code, .prose > blockquote, .prose > q, .prose > h1, .prose > h2, .prose > h3, .prose > h4, .prose > h5, .prose > h6, .prose > hr, .prose > pre, .prose > center, .prose blockquote iframe, .prose blockquote table, .prose blockquote form, .prose blockquote a, .prose blockquote em, .prose blockquote b, .prose blockquote strong, .prose blockquote i, .prose blockquote p, .prose blockquote ol, .prose blockquote ul,
.prose blockquote code, .prose blockquote blockquote, .prose blockquote q, .prose blockquote h1, .prose blockquote h2, .prose blockquote h3, .prose blockquote h4, .prose blockquote h5, .prose blockquote h6, .prose blockquote hr, .prose blockquote pre, .prose blockquote center {
  width: 100%;
  max-width: 700px;
  margin-bottom: 24px;
}
.prose > img, .prose > figure, .prose > .img-container, .prose > div, .prose blockquote img, .prose blockquote figure, .prose blockquote .img-container, .prose blockquote div {
  margin-bottom: 24px;
}
.prose > hr, .prose blockquote hr {
  padding: 0;
  width: 100%;
  max-width: 748px;
  position: relative;
}
.prose > img, .prose > figure, .prose > .img-container, .prose > iframe, .prose > table, .prose blockquote img, .prose blockquote figure, .prose blockquote .img-container, .prose blockquote iframe, .prose blockquote table {
  max-width: 880px;
  border: 1px solid #dedede;
  background-color: white;
  padding: 0;
}
.prose > img.wide, .prose > figure.wide, .prose > .img-container.wide, .prose > iframe.wide, .prose > table.wide, .prose blockquote img.wide, .prose blockquote figure.wide, .prose blockquote .img-container.wide, .prose blockquote iframe.wide, .prose blockquote table.wide {
  max-width: 100%;
}
@media only screen and (max-width: 916px) {
  .prose > img, .prose > figure, .prose > .img-container, .prose > iframe, .prose > table, .prose blockquote img, .prose blockquote figure, .prose blockquote .img-container, .prose blockquote iframe, .prose blockquote table {
    max-width: 100%;
  }
}
.prose > figure, .prose > .img-container, .prose blockquote figure, .prose blockquote .img-container {
  line-height: 0;
  position: relative;
}
.prose > figure img, .prose > .img-container img, .prose blockquote figure img, .prose blockquote .img-container img {
  width: 100%;
}
.prose > blockquote, .prose > q, .prose blockquote blockquote, .prose blockquote q {
  position: relative;
  left: 0.75em;
  padding-left: 24px;
  border-left: 6px solid #dedede;
  width: calc(100% - 1em);
  max-width: calc(700px - 1em);
}

/* About
------------------------------------------------------- */
.board-members img {
  max-width: 50%;
  margin: 0px auto 10px auto;
  display: block;
}

.board-members p {
  margin-bottom: 40px;
}

/* Blog Post
------------------------------------------------------- */
.avatar {
  background-image: url("https://osmus.github.io/dogwood/assets/avatar.jpg");
  background-color: white;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  flex: 0 0 auto;
}

.inline-avatar {
  display: inline-block;
  vertical-align: text-top;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

/* 404
------------------------------------------------------- */
.notfound {
  padding: 100px 100px;
  text-align: center;
  color: #999;
  text-shadow: 1px 1px 2px #eee;
  font-size: 25px;
}

.notfound h1 {
  font-size: 50px;
}

/* Footer
------------------------------------------------------- */
.footer {
  min-height: 490px;
  font-size: 17px;
  border-top: 1px solid rgb(60, 60, 60);
  position: relative;
  margin-top: 0px;
  display: flex;
  flex-flow: row nowrap;
  padding: 24px 0;
}
.footer .top {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 720px) {
  .footer .top {
    flex-direction: column;
  }
  .footer .top .site-wordmark {
    margin-bottom: 24px;
  }
}
.footer .sitemap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer .sitemap ul {
  width: 212.8px;
  margin-bottom: 24px;
}
.footer .sitemap ul li {
  white-space: nowrap;
}
.footer .sitemap ul li:first-child {
  font-weight: 600;
}
.footer .sitemap ul li:not(:last-child) {
  margin-right: 12px;
}
.footer .sitemap a {
  color: inherit;
}
.footer .smallprint {
  display: flex;
  justify-content: space-between;
}

.status-bubble {
  color: white;
  background: #930041;
  border-radius: 20px;
  position: absolute;
  top: -10px;
  font-weight: bold;
  font-size: 0.75em;
  padding: 0 12px;
}

.app-sign {
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  border: 1px solid #dedede;
  height: 140px;
}
.app-sign .status-bubble {
  top: -10px;
  right: -10px;
}

.status-symbol {
  color: #930041;
}

.hoverscale {
  transition: transform 100ms ease-in-out;
}
.hoverscale:hover {
  transform: scale(1.04);
  z-index: 9999;
}

.mono-logos img {
  filter: brightness(0) invert(1);
}

ul.org-members {
  padding-left: 36px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
ul.org-members li {
  max-width: 100%;
  list-style: none;
  margin-left: 0;
  margin-bottom: 24px;
}
ul.org-members li:not(:last-child) {
  margin-right: 48px;
}
ul.org-members li img {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

ul.org-members.level-5 li {
  height: 70px;
}

ul.org-members.level-4 li {
  height: 80px;
}

ul.org-members.level-3 li {
  height: 90px;
}

ul.org-members.level-2 li {
  height: 100px;
}

ul.org-members.level-1 li {
  height: 108px;
}

.directory {
  display: flex;
  flex-wrap: wrap;
}
.directory .list-wrap {
  flex-basis: 25%;
  min-width: 200px;
  padding-bottom: 24px;
  padding-right: 12px;
  white-space: nowrap;
}

#notice-overlay {
  position: fixed;
  bottom: 12px;
  right: 12px;
  background: white;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 18px 12px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
}
#notice-overlay .logo {
  width: 60px;
  margin-right: 12px;
}
#notice-overlay .status-bubble {
  left: -10px;
}

.cond-only {
  display: none;
}

.condensed .no-cond {
  display: none;
}

.condensed .cond-only {
  display: initial;
}

.condensed .simple-item-listing > *:first-child {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 720px) {
  .no-cond {
    display: none !important;
  }
  .cond-only {
    display: initial;
  }
  .simple-item-listing > *:first-child {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */