---
layout: default
---
<article>
  <div class="pre-cover"></div>
  <div class="cover themed {% if page.image %}with-hero-image{% endif %}">
    <div class="extra-1"></div>
    <div class="extra-2"></div>
    <div class="container">
      {% include breadcrumbs.html %}
      <div class="logo-area">
        {% if page.logo %}
          <div class="logo-wrap">
            <a href="{{page.url | absolute_url}}"><img class="logo" src="{{page.logo | absolute_url}}" alt="{{page.logo_alt}}"/></a>
          </div>
        {% endif %}
        <div class="right">
          {% include pagenav.html %}
          {% if page.tagline or page.temp_tagline %}
            <p class="tagline">{{ page.temp_tagline | default: page.tagline }}</p>
          {% endif %}
          {% if page.temp_blurb or page.blurb %}
            <div class="blurb">
              {{ page.temp_blurb | default: page.blurb | markdownify }}
            </div>
          {% endif %}
          {%- if page.buttons or page.website -%}
            <div class="buttons">
              <div class="text-buttons">
                {%- for button in page.buttons -%}
                  <a class="button large bordered {% if button==page.buttons.first %}prominent{% else %}white{% endif %}" href="{{button.link | absolute_url}}">{{button.label}}</a>
                {%- endfor -%}
                {%- unless page.buttons -%}
                  <a class="button large bordered prominent" href="{{page.website | absolute_url}}">Visit Website</a>
                {%- endunless -%}
              </div>
              {%- include social_links.html item=page -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
    <div class="extra-99"></div>
  </div>
  {%- if page.image -%}
    <div class='container'>
      <img class="hero-image" src="{{page.image | absolute_url}}"/>
    </div>
  {%- endif -%}
  <div class="content">
    <div class="container">
      {%- assign content = page.content | strip_newlines -%}
      {%- if content != '' -%}
        <div class="prose">
          {{- content -}}
        </div>
      {%- endif -%}
      {%- include posts_section.html tag=page.title max_posts=page.max_posts -%}
    </div>
  </div>
</article>
